# Python
*.pyc
__pycache__/
*.egg-info/

# Django
*.pot
*.mo
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv/
env/

# Build
build/
dist/

# IDE
.idea/
.vscode/

# Static files
staticfiles/

# Tests
coverage*
htmlcov/

# Documentation
docs/_build/